p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.40cm;
    color: white;
    padding: 1cm;
    border: 2cm solid black;   
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.90cm;
    color: white;   
}
h1:hover{
    text-decoration: line-through;
}
body{
    background-color: black;
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.40cm;
    color: white;
    padding: 1cm;
    border: 2cm solid black;   
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .col-sm-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
    .col-sm-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
    .col-sm-3 { flex: 0 0 25%; max-width: 25%; }
    .col-sm-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
    .col-sm-6 { flex: 0 0 50%; max-width: 50%; }
    .col-sm-12 { flex: 0 0 100%; max-width: 100%; }
    
    .d-sm-none { display: none !important; }
    .d-sm-block { display: block !important; }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .col-md-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
    .col-md-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
    .col-md-3 { flex: 0 0 25%; max-width: 25%; }
    .col-md-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
    .col-md-6 { flex: 0 0 50%; max-width: 50%; }
    .col-md-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
    .col-md-12 { flex: 0 0 100%; max-width: 100%; }
    
    .d-md-none { display: none !important; }
    .d-md-block { display: block !important; }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .col-lg-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
    .col-lg-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
    .col-lg-3 { flex: 0 0 25%; max-width: 25%; }
    .col-lg-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
    .col-lg-6 { flex: 0 0 50%; max-width: 50%; }
    .col-lg-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
    .col-lg-12 { flex: 0 0 100%; max-width: 100%; }
    
    .d-lg-none { display: none !important; }
    .d-lg-block { display: block !important; }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .col-xl-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
    .col-xl-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
    .col-xl-3 { flex: 0 0 25%; max-width: 25%; }
    .col-xl-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
    .col-xl-6 { flex: 0 0 50%; max-width: 50%; }
    .col-xl-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
    .col-xl-12 { flex: 0 0 100%; max-width: 100%; }
    
    .d-xl-none { display: none !important; }
    .d-xl-block { display: block !important; }
  }
